@import "tailwindcss";
@plugin "daisyui";

html {
    background-color: rgb(5, 3, 49);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arimo", -apple-system, BlinkMacSystemFont, "Arimo", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/Arimo-Regular.ttf") format("ttf");
}